* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Lora', serif;
  // font-family: 'Noto Sans', sans-serif;
  // font-family: 'Poppins', sans-serif;
}

.container {
  border: red solid 2px;
  max-width: 1916px;
  margin: 0 auto;
}
